# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Zips
*.zip

# Data files
*.csv

# Latex auxiliary files
**.acn
**.asv
**.aux
**.bcf
**.bbl
**.blg
**.glo
**.gz
**.ist
**.lof
**.lot
**.log
**.out
**.xml
**.toc
**.sty

# Intermediate Graphics
*.eps

# IDE/editor
.vscode
